:root{
    --blue:#0099ff;
    --font:montserrat;
    --textSize:14px;
}


body{
   background-color:var(--blue);
}

.wrapper {
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.loginContainer{
    background-color:#fff;
    text-align:center;
    padding:20px;
    width:80%;
    max-width:500px;
    border:1px solid #dedede;
    box-shadow:0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
}

h1{
    font-family:var(--font);
    font-size:25px;
    font-weight:bold;
}

form{
    display:flex;
    flex-direction:column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom:10px;
    padding:10px 10px;
    border:0px solid #fff;
    background-color:#f2f2f2;
    font-family:var(--font);
    font-size:var(--textSize);
    font-weight:bold;
    border-radius:5px;
}

input[type="submit"]{
    background-color:var(--blue);
    padding:7px;
    border:none;
    color:#fff;
    font-family:var(--font);
    font-size:20px;
    font-weight:bold;
    border-radius:5px;
    margin-bottom:20px
}

input[type="text"],
input[type="password"],
input[type="email"]:focus{
    outline:none;
}

a {
  text-decoration:none;
  font-family:var(--font);
  font-size:var(--textSize);
  font-weight:bold;  
}