nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    justify-content:flex-start;
    padding:10px;
}

nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
    font-size:30px;
    text-decoration:none;
    color: #4b4d50;
    width:55px;
    height:55px;
}

nav a.blue {
    color:#0099ff;
    font-size:40px
}